 <li class="nav-small-cap">--- Commandes</li>
                <li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
                                class="ti-layout-grid2"></i><span class="hide-menu">Commandes</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Nouvelle Commande</a></li>
                        <li><a href="#">Commande en attente</a></li>
                        <li><a href="#">Commande en cours</a></li>
                       

                    </ul>
                </li>
                <li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
                                class="icon-speedometer"></i><span class="hide-menu">Restaurant </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Nouveau </a></li>
                        <li><a href="#">Liste des restaurants</a></li>
                        

                    </ul>
                </li>
                <li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
                                class="ti-layout-grid2"></i><span class="hide-menu">CLIENTS</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{{ path('clients_new') }}">Nouveau client</a></li>
                        <li><a href="{{ path('clients_index') }}">Liste des clients</a></li>
                        {#<li><a href="{{ path('stock_produit') }}">Stats Clients</a></li>#}

                    </ul>
                </li>
                <li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
                                class="ti-email"></i><span class="hide-menu">LIVREURS</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Nouveau livreurs</a></li>
                        <li><a href="#">liste des livreurs</a></li>
                        </ul>
                </li>
                
                 {#<li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
                                class="ti-email"></i><span class="hide-menu">DEPENSES</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{{ path('depenses_new') }}">Nouvelle depense</a></li>
                        <li><a href="{{ path('depenses_index') }}">liste des depenses</a></li>
                       <li><a href="{{ path('produits_fournisseurs_new') }}">Produits - Fournisseurs </a></li>
                    </ul>
                    #}
                </li>