{{ form_start(form) }}
<fieldset>
    <legend>Renseignements Clients :</legend>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.client.Telephone1) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.client.Telephone1) }}
            {#<input class="form-control" name="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.client.Telephone2) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.client.Telephone2,{'attr':{'class':'form-control' }}) }}
            {#<input class="form-control" name="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.client.NomClient) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.client.NomClient) }}
            {#<input class="form-control" name="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.client.PrenomClient) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.client.PrenomClient) }}
            {#<input class="form-control" name="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>

   
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.client.LieuxLivraison) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.client.LieuxLivraison) }}
            {#<input class="form-control" ZoneGeographiquename="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.client.Sexe) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.client.Sexe) }}
            {#<input class="form-control" ZoneGeographiquename="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Details de commande :</legend>
    {% form_theme form.ligneCommandes   'form_theme/table_layout_commande.html.twig' %}

    {{ form_widget(form.ligneCommandes ) }}
</fieldset>
    {{ form_widget(form) }}

{{ form_end(form) }}