{{ form_start(form) }}
  <fieldset>
    <legend>Restaurant :</legend>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.Nom ) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.Nom ) }}
            {#<input class="form-control" name="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.Telephone1 ) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.Telephone1 ) }}
            {#<input class="form-control" name="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.Telephone2 ) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.Telephone2 ) }}
            {#<input class="form-control" name="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
    <div class="form-group row">

        {#{{ form_label(form.NomClient,{'attr':{'class':'col-sm-3 col-form-label' }}) }}#}
        <div class="col-sm-3 col-form-label">
            {{ form_label(form.Localisation ) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.Localisation ) }}
            {#<input class="form-control" name="customer_name" id="customer_name" type="text" placeholder="Customer Name" required="" tabindex="1" aria-required="true">#}
        </div>
    </div>
  </fieldset>

 <fieldset>
    <legend>Plats :</legend>
    {% form_theme form.plats   'form_theme/table_layout_plats.html.twig' %}

    {{ form_widget(form.plats ) }}
</fieldset>
{{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
